<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h1>Email from <%= @email %> through XSTACK contact page</h1>
    <hr/>
    <label>Phone: </label>
    <p><%= @phone %></p>
    <label>Name: </label>
    <p><%= @name %></p>
    <label>Services</label>
    <p><%= @services %></p>

    <label>Message</label>
    <p><%= @message %></p>
  </body>
</html>